<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Homepage</title>
    <style>
        table, tr, th, td {
            border-collapse: collapse;
        } 
        table {
            width: 50%;
        } 
        td {
            text-align: center;
        }
    </style>
</head>
<body>
    <header>
        <h1>Welcome to My Homepage</h1>
    </header>
    <%- include('header') %>
    <h2>Users List:-</h2>
    <hr>
    <br>
    <table border="1">
        <tr> 
            <th>User Name</th>
            <th>Email</th>
        </tr>
        <% for(const user of userdata) { %> 
            <tr> 
                <td> <%= user.username %> </td> 
                <td> <%= user.email %> </td>
            </tr>
        <% } %> 
    </table>
    <footer>
        <p>Contact: contact@example.com</p>
    </footer>
</body>
</html>
